<div class="background">
  <div class="outer">
    <h1
      class="animate mb-4 text-6xl font-extrabold leading-none tracking-tight text-gray-900 md:text-6xl lg:text-7xl dark:text-white"
    >
      Sign In
    </h1>
    <form>
      <div class="mb-6">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Your Username</label
        >
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          class="bg-gray-100 border-solid border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:outline-none focus:border-blue-500 block w-full p-2.5"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-6">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Your password</label
        >
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="••••••••"
          class="bg-gray-100 border-solid border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:outline-none focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <button
        type="submit"
        (click)="handleSubmit()"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
      <app-alert *ngIf="checkForSignInError()" [message]="errorSignInMessage"></app-alert>
    </form>
  </div>
</div>
