<div class="outer">
  <h1
    class="mb-4 text-6xl font-extrabold leading-none tracking-tight text-gray-900 md:text-6xl lg:text-7xl dark:text-white"
  >
    About
  </h1>

  <div class="imageCollage">
    <img src="../../assets/images/people.jpg" alt="people hanging out" />
    <img src="../../assets/images/women.jpg" alt="people hanging out" />
    <img src="../../assets/images/students.jpg" alt="people hanging out" />
    <img src="../../assets/images/startup.jpg" alt="people hanging out" />
    <div class="text">
      <p
        class="mb-3 font-light text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left"
      >
        Welcome to Social+, the ultimate social media platform for connecting
        and engaging with your friends, family, and communities around the
        world.
      </p>
      <p class="font-light text-gray-500 dark:text-gray-400">
        Our mission is to provide a safe, user-friendly, and inclusive space
        where people can express themselves, share their experiences, and build
        meaningful relationships with others.
      </p>
      <p class="font-light text-gray-500 dark:text-gray-400">
        At Social+, we believe that social media should be a positive force that
        brings people together and fosters mutual understanding and respect.
        That's why we have created a platform that encourages open dialogue,
        celebrates diversity, and promotes healthy interactions between our
        users.
      </p>
      <p class="font-light text-gray-500 dark:text-gray-400">
        Whether you're looking to catch up with old friends, discover new
        interests, or join a community of like-minded individuals, Social+ has
        something for everyone. With a wide range of features such as messaging,
        groups, events, and more, you can connect with people from all walks of
        life and share your passions with the world.
      </p>
      <p class="font-light text-gray-500 dark:text-gray-400">
        So why wait? Sign up today and join the Social+ community. Let's make
        social media a better place, one connection at a time.
      </p>
    </div>
  </div>
</div>
