<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">To</th>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Subject</th>
          <th scope="col" class="px-6 py-3">Body</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Reply</span>
          </th>
        </tr>
      </thead>
      <ng-container *ngIf="messagesSent">
        <tbody *ngFor="let message of messagesSent">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ message.toUsername }}
            </th>
            <td class="px-6 py-4">
              {{message.dateCreated.substring(5, 7) + "/" + message.dateCreated.substring(8,10) + "/" + message.dateCreated.substring(0, 4)}}
            </td>
            <td class="px-6 py-4">
              {{ message.subject }}
            </td>
            <td class="px-6 py-4">
              {{ message.body }}
            </td>
          </tr>
        </tbody></ng-container
      >
    </table>
  </div>